@page "/ForgotPassword"
@inject AccountAPIService AccountAPIService
<PageTitle>StarWall - Forgot Password</PageTitle>
<EditForm Model="@emailDTO" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator/>
    <div class="container mt-2 mb-3">
        <div class="row p-2 bg-dark rounded d-flex justify-content-center  py-5">
            <h4 class="mb-3" style="color: rgb(77, 206, 211); text-align: center;"><b>Reset Password</b></h4>
            <div class="col-md-7 p-2">
                <InputText type="email" @bind-Value="@emailDTO.Email" placeholder="Email Address" class="form-control"/>
                <ValidationMessage For="@(() => emailDTO.Email)" class="text-danger"/>
            </div>        
            <div class="col-md-7 p-2">
                <button class="btn btn-info form-control" type="submit">Confirm</button>
            </div>
        </div>
    </div>
</EditForm>

@code {
    private EmailDTO emailDTO = new();

    private async Task HandleValidSubmit()
    {
        await AccountAPIService.SendUserPasswordToken(emailDTO);
    }
}
