<nav class="navbar navbar-dark navbar-expand-lg bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand NavbarTitle fw-bold" href="#">
        <img src="Images/Logos/StarWall_Logo.png" alt="Logo" width="30" height="30"
          class="d-inline-block align-text-top">
        StarWall
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav text-center">
          <li class="nav-item">
            <NavLink class="nav-link navbarLightLink" href="/"><i class="fa fa-home"></i> Home</NavLink>
          </li>
          <li class="nav-item">
            <NavLink class="nav-link navbarLightLink" href="Contact"><i class="fa fa-send"></i> Contact</NavLink>
          </li>      
          <li class="nav-item">
              <NavLink class="nav-link navbarLightLink" href="UserPanel"><i class="fa fa-user"></i> User Panel</NavLink>
          </li>
        </ul>
      </div>
    </div>
  </nav>
@code {

}
